{% extends 'base.html' %}

{% load staticfiles %}

{% block title %} About {% endblock %}

{% block body_block %}

<div class="page-header">
                <h1>About</h1>
            </div>
            <div>
            <p></strong>.</p>
			<p> This page has been visited {{ visits }} times</p> <br/>
            <img  width="180" height="100" src="{% static "images/rango.jpg" %}" alt="Picture of Rango" /> <!-- New line -->
            </div>



		Rango says here is the about page.<br/>
		.<br/>
		<img src="{% static "images/me.jpg" %}" alt="Picture of me" /> <br/>
		This tutorial was put together by Thomas Robertson, 2081888</h1><br/>
		
{% endblock %}



    
